DATABASE_URL=postgresql://attendance:attendance@db:5432/attendance
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=0
ESP32_IP=10.194.17.254
ESP32_PORT=4210
CAM_IP=10.208.22.128
CAM_USER=admin
CAM_PASSWORD=your_password
REGISTERED_FACES_DIR=/data/registered_faces
ATTENDANCE_LOG_FILE=/data/attendance_log.txt
